

@media screen and (min-width: 768px) {

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1%;
        width: 400px;
        background-color: rgba(27, 21, 21, 0.7);
        border: 2px red solid;
        margin: 20px;
        box-shadow: -5px 2px 5px rgb(243, 215, 6);
        

        .card-img{
            height: 250px;
            width: 350px;
            object-fit: cover;
            margin: 3%;
            border: 1px black solid;
        }

        .card-title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 4%;
            font-size: 1.4rem;
            line-height: 1.4rem;
            letter-spacing: 1px;
            font-weight: 1000;
            color: rgba(255, 241, 43, 0.918);
            // background-color: rgba(27, 21, 21, 0.7);
            text-shadow: 0.1em 0.1em 0 hsla(0, 99%, 49%, 0.226);

        }
        .card-description{
            display: flex;
            width: 100%;
            line-height: 1.2em;
            padding: 1%;
            font-weight: bold;
            font-size: 1.3rem;
            color: #fafafa;
            background-color: rgb(221, 18, 18);
        }

        .card-price{
            display: flex;
            justify-content: center;
            width: 100%;
            color: #fafafa;
            padding: 1%;
            font-size: 1.2rem;
            background-color: rgba(221, 18, 18, 0.37);
        }
        .add-to-cart-btn{
            display: flex;
            justify-content: center;
            width: 50%;
            padding: 3% 2%;
            color: #fafafa;
            background-color: black;
            outline: none;
            border: 2px #fafafa solid;

            &:hover{
                color: rgb(221, 18, 18);
                background-color: #fafafa;
            }
        }
    }
    
}